<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="libraryGarden.admin.mapper.AdminApprovalMapper">
	
	<!-- 자바처럼 sql문과 java를 섞어서 사용할 수 없어서 include해서 사용한다 -->
	<sql id="search">
		<if test="searchType != null and searchType.equals('title')">
			AND B.title LIKE CONCAT('%',#{keyword},'%')
		</if>
		<if test="searchType != null and searchType.equals('author')">
			AND B.author LIKE CONCAT('%',#{keyword},'%')
		</if>
		<if test="searchType != null and searchType.equals('name')">
			AND U.name LIKE CONCAT('%',#{keyword},'%')
		</if>
		<if test="filter != null">
			AND A.status LIKE CONCAT('%',#{filter},'%')
		</if>
	</sql>
	
	<select id="getApprovalTotalCount" parameterType="HashMap" resultType="int">
		SELECT COUNT(*) AS cnt 
		FROM APPROVAL AS A 
		JOIN USER AS U ON A.uidx = U.uidx 
		LEFT JOIN REQUEST AS RQ ON RQ.rqidx = A.rqidx 
		LEFT JOIN BOOKS AS B ON B.bidx = COALESCE(A.bidx, RQ.bidx) 
		WHERE A.delyn = 'N' 
		<include refid="search"/>
	</select>
	
 	<select id="getApprovalSelectAll" parameterType="HashMap" resultType="ad">
		SELECT B.coverImg, B.title, B.author, B.publisher, U.name, U.userNumber, A.aidx, A.regDate, A.status, A.rejectionReason 
		<!-- APPROVAL 테이블의 uidx와 USER 테이블의 uidx를 JOIN하여 USER 정보를 가져온다. -->
		FROM APPROVAL AS A 
		JOIN USER AS U ON A.uidx = U.uidx 
		<!--
		REQUEST 테이블과 APPROVAL 테이블을 rqidx로 JOIN할 때, REQUEST 테이블의 값이 NULL일수도 있기 때문에 LEFT JOIN을 사용해서 연결한다.
		-->
		LEFT JOIN REQUEST AS RQ ON RQ.rqidx = A.rqidx 
		<!--		 
		APPROVAL 테이블에서 BOOKS 테이블의 데이터를 가져올 때 BOOKS 테이블에서 필요한 데이터를 정확하게 가져오기 위해 B 테이블의 bidx와 APPROVAL 테이블의 bidx를 LEFT JOIN으로 연결한다.
		(BOOKS 테이블의 데이터가 중복되는 경우 중복 데이터를 모두 사용) 
		만약 APPRIVAL 테이블의 bidx가 NULL인 경우 REQUEST 테이블의 bidx를 사용한다.
		-->
		LEFT JOIN BOOKS AS B ON B.bidx = COALESCE(A.bidx, RQ.bidx) 
		WHERE A.delyn = 'N' 
		<include refid="search"/>
		ORDER BY A.aidx DESC LIMIT #{startPageNum}, #{perPageNum};
	</select>
	
	<select id="getApprovalSelectOne" parameterType="int" resultType="bv">
		SELECT B.* 
		FROM APPROVAL AS A 
		LEFT JOIN REQUEST AS RQ ON RQ.rqidx = A.rqidx 
		LEFT JOIN BOOKS AS B ON B.bidx = COALESCE(A.bidx, RQ.bidx) 
		WHERE A.delyn = 'N' and aidx = #{aidx}
	</select>
	
	<update id="deleteApproval" parameterType="int">
		UPDATE APPROVAL SET delyn = 'Y', modify = now() WHERE aidx = #{aidx}
	</update>
	
	<!-- 게시글 등록 후 이동할 상세페이지에서 게시글 내용을 보여주기 위해 새로 등록한 게시글의 aidx를 maxAidx 안에 넣어서 가져온다.(auto increment만 가능) -->
	<insert id="insertApproval" parameterType="HashMap" useGeneratedKeys="true" keyProperty="maxAidx">
  		INSERT INTO APPROVAL(uidx, rqidx, bidx) 
		VALUES(#{uidx}, #{rqidx}, #{bidx})
	</insert>
	
	<select id="getApprovalSelectAv" parameterType="int" resultType="av">
		SELECT * FROM APPROVAL WHERE delyn = 'N' and aidx = #{aidx}
	</select>
	
	<update id="updateApproval" parameterType="HashMap">
  		UPDATE APPROVAL SET rqidx = #{rqidx}, bidx = #{bidx}, modify = now() WHERE aidx = #{aidx}
	</update>
	
	<update id="updateApprovalProcessing" parameterType="av">
  		UPDATE APPROVAL SET status = #{status}, rejectionReason = #{rejectionReason}, approvalDate = now() WHERE aidx = #{aidx}
	</update>

   	<!-- 관리자가 승인한 도서 책 갯수 조회 메서드 -->
  	<select id="getBookApprovalTotalCount" parameterType="HashMap" resultType="int">
		SELECT COUNT(*) AS cnt  
		 FROM APPROVAL AS A
		 LEFT JOIN REQUEST AS R ON A.rqidx = R.rqidx
		 LEFT JOIN BOOKS AS B ON B.bidx = COALESCE(A.bidx, R.bidx)
		 WHERE A.delyn = 'N' AND (B.delyn = 'N' OR B.delyn IS NULL) AND A.regyn = "N"
		<include refid="search"/>
		<if test="filter != null and filter != ''">
			AND A.status = #{filter}
		</if>
		<if test="selectedAidx != null and selectedAidx != ''">
		    AND A.aidx != #{selectedAidx}
		</if>
	</select>
	
	<!-- 관리자가 승인한 도서 책 리스트 조회 메서드 -->
  	<select id="getBookApprovalSelectAll" parameterType="HashMap" resultType="map">
		 SELECT COALESCE(A.bidx, R.bidx) AS bidx, B.coverImg, B.title, B.author, B.publisher, B.publishedYear, A.aidx
		 FROM APPROVAL AS A
		 LEFT JOIN REQUEST AS R ON A.rqidx = R.rqidx
		 LEFT JOIN BOOKS AS B ON B.bidx = COALESCE(A.bidx, R.bidx)
		 WHERE A.delyn = 'N' AND (B.delyn = 'N' OR B.delyn IS NULL) AND A.regyn = "N"
		<include refid="search"/>
		<if test="filter != null and filter != ''">
			AND A.status = #{filter}
		</if>
		<if test="selectedAidx != null and selectedAidx != ''">
		    AND A.aidx != #{selectedAidx}
		</if>
		ORDER BY A.aidx DESC LIMIT #{startPageNum}, #{perPageNum};
	</select>
	
	<!-- 관리자가 승인한 도서 중 등록할 책 정보 조회 메서드 -->
  	<select id="getBookApprovalSelectOne" resultType="map">
		 SELECT COALESCE(A.bidx, R.bidx) AS bidx, B.coverImg, B.title, B.originalTitle, B.subTitle, B.author, B.introduction,
		 B.publisher, DATE_FORMAT(B.publishedYear, '%Y.%m.%d') AS publishedYear, B.totalPages, B.isbn, B.sizeWidth, B.sizeHeight, B.weight, B.category,
		 A.aidx
		 FROM APPROVAL AS A
		 LEFT JOIN REQUEST AS R ON A.rqidx = R.rqidx
		 LEFT JOIN BOOKS AS B ON B.bidx = COALESCE(A.bidx, R.bidx)
		 WHERE A.delyn = 'N' AND (B.delyn = 'N' OR B.delyn IS NULL) AND A.aidx = #{aidx} 

	</select>
	
    <!-- 관리자가 승인한 도서 중 등록여부 Y 업데이트 메서드 -->
	<update id="updateApprovalRegynY" parameterType="int">
	update APPROVAL set regyn='Y', modify=now() where aidx=#{aidx} 
    </update>
    
   <!-- 관리자가 승인한 도서 중 등록여부 N 업데이트 메서드 -->
	<update id="updateApprovalRegynN" parameterType="int">
	update APPROVAL set regyn='N', modify=now() where aidx=#{aidx} 
    </update>
    
</mapper>