<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="libraryGarden.admin.mapper.AdminBookMapper">
	
	<!-- 도서관 책 검색(제목과 저자로 검색) -->
	<sql id="search">
		<if test="searchType != null and searchType eq 'title'">
			and B.title like concat('%',#{keyword},'%')
		</if>
		<if test="searchType != null and searchType eq 'author'">
			and B.author like concat('%',#{keyword},'%')
		</if>
	</sql>

    <!-- 도서관 책 전체/검색조건를 통해 책들을 조회 -->
 	<select id="BookSelectAll" parameterType="HashMap" resultType="lbd">
		SELECT B.coverImg, B.title, B.author, B.publisher, LB.lbidx, LB.code, LB.callName, LB.location, LB.dueDate, LB.status 
		FROM LIBRARYBOOKS AS LB
		JOIN BOOKS AS B ON LB.bidx = B.bidx WHERE B.delyn = 'N' AND LB.delyn = 'N'
		<include refid="search"/>
		ORDER BY LB.lbidx LIMIT #{startPageNum}, #{perPageNum};
	</select>
	
	<!-- 도서관 책 전체/검색조건를 통해 책의 갯수를 조회 -->
	<select id="BookTotalCount" resultType="int">
		SELECT COUNT(*) AS cnt  
		FROM LIBRARYBOOKS AS LB
		JOIN BOOKS AS B ON LB.bidx = B.bidx WHERE B.delyn = 'N' AND LB.delyn = 'N'
		<include refid="search"/>
	</select>
	
	<!-- 도서관 책 중 인덱스 번호와 일치하는 책 조회 -->
	<select id="BookSelectOne" parameterType="int" resultType="lbd">
		SELECT *
		FROM LIBRARYBOOKS AS LB
		JOIN BOOKS AS B ON LB.bidx = B.bidx
		JOIN CATEGORY AS C ON LB.cidx = C.cidx
		WHERE B.delyn = 'N'  AND LB.delyn = 'N' AND lbidx = #{lbidx};
	</select>
	
	<!-- 도서관 책 중 인덱스 번호와 일치하는 책 삭제(삭제여부를 Y으로) -->
	<update id="BookDeleteOne" parameterType="int">
	update LIBRARYBOOKS set delyn='Y', modify=now() where lbidx=#{lbidx} 
   </update>
   
   	<!-- 관리자가 승인한 도서 책 갯수 조회 메서드 -->
  	<select id="bookApprovalTotalCount" parameterType="HashMap" resultType="int">
		SELECT COUNT(*) AS cnt  
		 FROM APPROVAL AS A
		 LEFT JOIN REQUEST AS R ON A.rqidx = R.rqidx
		 LEFT JOIN BOOKS AS B ON B.bidx = COALESCE(A.bidx, R.bidx)
		 WHERE A.delyn = 'N' AND (B.delyn = 'N' OR B.delyn IS NULL)
		<include refid="search"/>
		<if test="filter != null and filter != ''">
			AND A.status = #{filter}
		</if>
		<if test="selectedAidx != null and selectedAidx != ''">
		    AND A.aidx != #{selectedAidx}
		</if>
	</select>
	
	<!-- 관리자가 승인한 도서 책 리스트 조회 메서드 -->
  	<select id="bookApprovalSelectAll" parameterType="HashMap" resultType="map">
		 SELECT COALESCE(A.bidx, R.bidx) AS bidx, B.coverImg, B.title, B.author, B.publisher, B.publishedYear, A.aidx
		 FROM APPROVAL AS A
		 LEFT JOIN REQUEST AS R ON A.rqidx = R.rqidx
		 LEFT JOIN BOOKS AS B ON B.bidx = COALESCE(A.bidx, R.bidx)
		 WHERE A.delyn = 'N' AND (B.delyn = 'N' OR B.delyn IS NULL)
		<include refid="search"/>
		<if test="filter != null and filter != ''">
			AND A.status = #{filter}
		</if>
		<if test="selectedAidx != null and selectedAidx != ''">
		    AND A.aidx != #{selectedAidx}
		</if>
		ORDER BY A.aidx LIMIT #{startPageNum}, #{perPageNum};
	</select>
	
	<!-- 관리자가 승인한 도서 중 등록할 책 정보 조회 메서드 -->
  	<select id="bookApprovalSelectOne" resultType="bv">
		 SELECT COALESCE(A.bidx, R.bidx) AS bidx, B.*
		 FROM APPROVAL AS A
		 LEFT JOIN REQUEST AS R ON A.rqidx = R.rqidx
		 LEFT JOIN BOOKS AS B ON B.bidx = COALESCE(A.bidx, R.bidx)
		 WHERE A.delyn = 'N' AND (B.delyn = 'N' OR B.delyn IS NULL) AND A.aidx = #{aidx}

	</select>
</mapper>