<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="libraryGarden.admin.mapper.AdminLibrarianApprovalMapper">

  	<select id="librarianApprovalTotalCount" parameterType="HashMap" resultType="int">
		SELECT COUNT(*) AS cnt FROM APPROVAL WHERE delyn = 'N'
		
	</select>
	
 	<select id="librarianApprovalSelectAll" parameterType="HashMap" resultType="av">
		SELECT * FROM APPROVAL WHERE delyn = 'N' ORDER BY aidx DESC <!-- LIMIT #{startPageNum}, #{perPageNum} -->
	</select>
		
</mapper>