<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="libraryGarden.admin.mapper.AdminLibraryBooksMapper">
	
	<!-- 도서관 책 검색(제목과 저자로 검색) -->
	<sql id="search">
		<if test="searchType != null and searchType eq 'title'">
			and B.title like concat('%',#{keyword},'%')
		</if>
		<if test="searchType != null and searchType eq 'author'">
			and B.author like concat('%',#{keyword},'%')
		</if>
	</sql>

    <!-- 도서관 책 전체/검색조건를 통해 책들을 조회 -->
 	<select id="getBookSelectAll" parameterType="HashMap" resultType="lbd">
		SELECT B.coverImg, B.title, B.author, B.publisher, LB.lbidx, LB.code, LB.callName, LB.location, LB.dueDate, LB.status 
		FROM LIBRARYBOOKS AS LB
		JOIN BOOKS AS B ON LB.bidx = B.bidx WHERE B.delyn = 'N' AND LB.delyn = 'N'
		<include refid="search"/>
		ORDER BY LB.lbidx LIMIT #{startPageNum}, #{perPageNum};
	</select>
	
	<!-- 도서관 책 전체/검색조건를 통해 책의 갯수를 조회 -->
	<select id="getBookTotalCount" resultType="int">
		SELECT COUNT(*) AS cnt  
		FROM LIBRARYBOOKS AS LB
		JOIN BOOKS AS B ON LB.bidx = B.bidx WHERE B.delyn = 'N' AND LB.delyn = 'N'
		<include refid="search"/>
	</select>
	
	<!-- 도서관 책 중 인덱스 번호와 일치하는 책 조회 -->
	<select id="getBookSelectOne" parameterType="int" resultType="lbd">
		SELECT *
		FROM LIBRARYBOOKS AS LB
		JOIN BOOKS AS B ON LB.bidx = B.bidx
		JOIN CATEGORY AS C ON LB.cidx = C.cidx
		WHERE B.delyn = 'N'  AND LB.delyn = 'N' AND lbidx = #{lbidx};
	</select>
	
	<!-- 도서관 책 중 인덱스 번호와 일치하는 책 삭제(삭제여부를 Y으로) -->
	<update id="getBookDeleteOne" parameterType="int">
	update LIBRARYBOOKS set delyn='Y', modify=now() where lbidx=#{lbidx} 
    </update>
 
 	<!-- 도서관 책 중 lbidx 마지막 번호 코드번호 가지고 오기 -->
	<select id="getLibraryBookLastCode" resultType="String">
	SELECT LB.code 
	FROM LIBRARYBOOKS AS LB ORDER BY LB.lbidx DESC LIMIT 1
	</select>
	
	
</mapper>