<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="libraryGarden.admin.mapper.AdminBookRequest2Mapper">
	
	<sql id="search">
		<if test="searchType != null and searchType.equals('title')">
			AND b.title LIKE CONCAT('%',#{keyword},'%')
		</if>
		<if test="searchType != null and searchType.equals('author')">
			AND b.author LIKE CONCAT('%',#{keyword},'%')
		</if>
		<if test="searchType != null and searchType.equals('name')">
			AND u.name LIKE CONCAT('%',#{keyword},'%')
		</if>
    	<if test="filter != null and filter != ''">
        	AND r.status = #{filter}
    	</if>
	</sql>
	
	<!-- 신청한 희망 도서 책의 갯수(필터 포함) -->
  	<select id="getBookRequestTotalCount" parameterType="HashMap" resultType="int" >
		SELECT COUNT(*) 
		FROM REQUEST AS r
		JOIN USER AS u ON r.uidx = u.uidx 
		JOIN BOOKS AS b ON r.bidx = b.bidx 
		WHERE r.delyn = 'N' 
		<include refid="search"/>
	</select>
	
	<!-- 신청한 희망 도서 책의 리스트(필터 포함) -->
 	<select id="getBookRequestSelectAll" parameterType="HashMap" resultType="rd">
		SELECT b.coverImg, b.title, b.author, b.publisher, u.name, u.userNumber, r.rqidx, r.regDate, r.status, r.rejectionReason
		FROM REQUEST AS r
		JOIN USER AS u ON r.uidx = u.uidx 
		JOIN BOOKS AS b ON r.bidx = b.bidx 
		WHERE r.delyn = 'N' 
		<include refid="search"/>
		ORDER BY r.rqidx DESC LIMIT #{startPageNum}, #{perPageNum};
	</select>
	
	<!-- 신청한 희망 도서 책 상세 -->
	<select id="getBookRequestSelectone" resultType="map">
		SELECT b.coverImg, b.title, b.originalTitle, b.subtitle, b.author, b.publisher, b.publishedYear, b.isbn, b.totalPages, b.sizeWidth, b.sizeHeight, b.weight, b.category, b.introduction, b.price, u.name, u.userNumber, r.rqidx, r.status, DATE_FORMAT(r.regDate, '%Y.%m.%d') AS regDate, r.rejectionReason
		FROM request r
		JOIN books b ON r.bidx = b.bidx
		JOIN `user` u ON r.uidx = u.uidx
		WHERE r.rqidx = #{rqidx} AND u.delyn = "N" AND b.delyn = "N" AND r.delyn = "N"
	</select>
	
	<!-- 희망 도서 상세 페이지에서 상태 및 반려 사유 수정 -->
    <update id="modifyBookRequest" >
	    UPDATE request
	    SET status = #{status}, rejectionReason = #{rejectionReason}
	    WHERE rqidx = #{rqidx} 
    </update>
</mapper>