<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="libraryGarden.admin.mapper.AdminBookRequestMapper">
	
	<!-- 자바처럼 sql문과 java를 섞어서 사용할 수 없어서 include해서 사용한다 -->
	<sql id="search">
		<if test="searchType != null and searchType.equals('title')">
			AND B.title LIKE CONCAT('%',#{keyword},'%')
		</if>
		<if test="searchType != null and searchType.equals('author')">
			AND B.author LIKE CONCAT('%',#{keyword},'%')
		</if>
		<if test="searchType != null and searchType.equals('name')">
			AND U.name LIKE CONCAT('%',#{keyword},'%')
		</if>
		
		<if test="filter != null and filter != ''">
			AND RQ.status = #{filter} 
		</if>
	</sql>
	
	<!-- 신청한 희망 도서 책의 갯수(필터 포함) -->
  	<select id="getBookRequestTotalCount" parameterType="HashMap" resultType="int" >
		SELECT COUNT(*) 
		FROM REQUEST AS RQ
		JOIN USER AS U ON RQ.uidx = U.uidx 
		JOIN BOOKS AS B ON RQ.bidx = B.bidx 
		WHERE RQ.delyn = 'N' 
		<include refid="search"/>
	</select>
	
	<!-- 신청한 희망 도서 책 상세 -->
	<select id="getBookRequestSelectone" resultType="map">
		SELECT B.coverImg, B.title, B.originalTitle, B.subTitle, B.author, B.publisher, B.publishedYear, B.isbn, B.totalPages, B.sizeWidth, B.sizeHeight, B.weight, B.category, B.introduction, B.price, U.name, U.userNumber, RQ.rqidx, RQ.status, DATE_FORMAT(RQ.regDate, '%Y.%m.%d') AS regDate, RQ.rejectionReason
		FROM request RQ
		JOIN books B ON RQ.bidx = B.bidx
		JOIN `user` U ON RQ.uidx = U.uidx
		WHERE RQ.rqidx = #{rqidx} AND U.delyn = "N" AND B.delyn = "N" AND RQ.delyn = "N"
	</select>
	
	<!-- 희망 도서 상세 페이지에서 상태 및 반려 사유 수정 -->
    <update id="modifyBookRequest" >
	    UPDATE request
	    SET status = #{status}, rejectionReason = #{rejectionReason}
	    WHERE rqidx = #{rqidx} 
    </update>
	
	<!-- 신청한 희망 도서 책의 리스트(필터 포함) -->
 	<select id="getBookRequestSelectAll" parameterType="HashMap" resultType="rd">
		SELECT B.coverImg, B.title, B.author, B.publisher, U.name, U.userNumber, RQ.rqidx, RQ.regDate, RQ.status, RQ.rejectionReason
		<!-- REQUEST 테이블의 uidx와 USER 테이블의 uidx를 JOIN하여 USER 정보를 가져온다. -->
		FROM REQUEST AS RQ 
		JOIN USER AS U ON RQ.uidx = U.uidx 
		<!-- REQUEST 테이블의 bidx와 BOOKS 테이블의 bidx를 JOIN하여 BOOK 정보를 가져온다. -->
		JOIN BOOKS AS B ON RQ.bidx = B.bidx 
		WHERE RQ.delyn = 'N' 
		<include refid="search"/> 
		ORDER BY RQ.rqidx LIMIT #{startPageNum}, #{perPageNum};
	</select>
	
	<select id="getBookRequestSelectOne" parameterType="HashMap" resultType="bv">
		SELECT B.* 
		FROM REQUEST AS RQ 
		JOIN BOOKS AS B ON B.bidx = RQ.bidx 
		WHERE RQ.delyn = 'N' and RQ.rqidx = #{rqidx} 
	</select>
	
	<update id="updateStatus" parameterType="HashMap">
  		UPDATE REQUEST SET status = #{status}, modify = now() WHERE rqidx = #{rqidx}
	</update>
	
</mapper>