<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="libraryGarden.admin.mapper.AdminApproval2Mapper">
	
	<!-- 도서관 책 검색(제목과 저자로 검색) -->
	<sql id="search">
		<if test="searchType != null and searchType eq 'title'">
			and B.title like concat('%',#{keyword},'%')
		</if>
		<if test="searchType != null and searchType eq 'author'">
			and B.author like concat('%',#{keyword},'%')
		</if>
	</sql>

   
   	<!-- 관리자가 승인한 도서 책 갯수 조회 메서드 -->
  	<select id="getBookApprovalTotalCount" parameterType="HashMap" resultType="int">
		SELECT COUNT(*) AS cnt  
		 FROM APPROVAL AS A
		 LEFT JOIN REQUEST AS R ON A.rqidx = R.rqidx
		 LEFT JOIN BOOKS AS B ON B.bidx = COALESCE(A.bidx, R.bidx)
		 WHERE A.delyn = 'N' AND (B.delyn = 'N' OR B.delyn IS NULL) AND A.regyn = "N"
		<include refid="search"/>
		<if test="filter != null and filter != ''">
			AND A.status = #{filter}
		</if>
		<if test="selectedAidx != null and selectedAidx != ''">
		    AND A.aidx != #{selectedAidx}
		</if>
	</select>
	
	<!-- 관리자가 승인한 도서 책 리스트 조회 메서드 -->
  	<select id="getBookApprovalSelectAll" parameterType="HashMap" resultType="map">
		 SELECT COALESCE(A.bidx, R.bidx) AS bidx, B.coverImg, B.title, B.author, B.publisher, B.publishedYear, A.aidx
		 FROM APPROVAL AS A
		 LEFT JOIN REQUEST AS R ON A.rqidx = R.rqidx
		 LEFT JOIN BOOKS AS B ON B.bidx = COALESCE(A.bidx, R.bidx)
		 WHERE A.delyn = 'N' AND (B.delyn = 'N' OR B.delyn IS NULL) AND A.regyn = "N"
		<include refid="search"/>
		<if test="filter != null and filter != ''">
			AND A.status = #{filter}
		</if>
		<if test="selectedAidx != null and selectedAidx != ''">
		    AND A.aidx != #{selectedAidx}
		</if>
		ORDER BY A.aidx LIMIT #{startPageNum}, #{perPageNum};
	</select>
	
	<!-- 관리자가 승인한 도서 중 등록할 책 정보 조회 메서드 -->
  	<select id="getBookApprovalSelectOne" resultType="map">
		 SELECT COALESCE(A.bidx, R.bidx) AS bidx, B.coverImg, B.title, B.originalTitle, B.subtitle, B.author,
		 B.publisher, DATE_FORMAT(B.publishedYear, '%Y.%m.%d') AS publishedYear, B.totalPages, B.isbn, B.sizeWidth, B.sizeHeight, B.weight, B.category,
		 A.aidx
		 FROM APPROVAL AS A
		 LEFT JOIN REQUEST AS R ON A.rqidx = R.rqidx
		 LEFT JOIN BOOKS AS B ON B.bidx = COALESCE(A.bidx, R.bidx)
		 WHERE A.delyn = 'N' AND (B.delyn = 'N' OR B.delyn IS NULL) AND A.aidx = #{aidx} 

	</select>
	
    <!-- 관리자가 승인한 도서 중 등록여부 Y 업데이트 메서드 -->
	<update id="updateApprovalRegynY" parameterType="int">
	update APPROVAL set regyn='Y', modify=now() where aidx=#{aidx} 
    </update>
    
   <!-- 관리자가 승인한 도서 중 등록여부 N 업데이트 메서드 -->
	<update id="updateApprovalRegynN" parameterType="int">
	update APPROVAL set regyn='N', modify=now() where aidx=#{aidx} 
    </update>
    
</mapper>