<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="libraryGarden.user.mapper.Book1Mapper">
	
	<!-- isbn 으로 책 데이터 여부 확인 -->
	<select id="getBookByIsbnToCount" resultType="int">
		SELECT COUNT(*) AS cnt FROM BOOKS WHERE isbn = #{isbn}
	</select>
	
	<!-- 도서 데이터 삽입 -->
    <insert id="insertBook" parameterType="bv">
	    INSERT INTO BOOKS(coverImg, title, originalTitle, subTitle, author, publisher, publishedYear, totalPages, isbn, sizeWidth, sizeHeight, weight, category, introduction, price) 
		VALUES(#{coverImg}, #{title}, #{originalTitle}, #{subTitle}, #{author}, #{publisher}, #{publishedYear}, #{totalPages}, #{isbn}, #{sizeWidth}, #{sizeHeight}, #{weight}, #{category}, #{introduction}, #{price})
    </insert>
    
	<!-- isbn 으로 책 데이터 중 bidx 가지고 옴 -->
	<select id="getBookByIsbnToBidx" resultType="int">
		SELECT bidx FROM BOOKS WHERE isbn = #{isbn}
	</select>
	
</mapper>