<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="libraryGarden.user.mapper.LibraryBook2Mapper">
	
	<select id="selectTopLoanBooksThisMonth" resultType="libraryGarden.domain.LibraryBook2Dto">
	    SELECT 
	        b.bidx,
	        b.coverImg,
	        b.title,
	        b.subtitle,
	        b.author,
	        b.publisher,
	        b.publishedYear,
	        b.totalPages,
	        COUNT(l.lidx) AS loanCount
	    FROM BOOKS b
	    JOIN LIBRARYBOOKS lb ON b.bidx = lb.bidx
	    JOIN LOAN l ON lb.lbidx = l.lbidx
	    WHERE MONTH(l.loanDate) = MONTH(CURRENT_DATE)
	      AND YEAR(l.loanDate) = YEAR(CURRENT_DATE)
	    GROUP BY b.bidx
	    ORDER BY loanCount DESC
	    LIMIT 6
	</select>
	
	<select id="getLatestBooks" resultType="libraryGarden.domain.LibraryBook2Dto">
	    SELECT 
	        b.bidx,
	        b.coverImg,
	        b.title,
	        b.subtitle,
	        b.author,
	        b.publisher,
	        b.publishedYear,
	        b.totalPages
	    FROM BOOKS b
	    ORDER BY b.publishedYear DESC
	    LIMIT 6
	</select>
	
	
</mapper>